@font-face {
	font-family: 'kaushan_scriptregular';
	src: url('../font/kaushanscript-regular-webfont.eot');
	src: url('../font/kaushanscript-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../font/kaushanscript-regular-webfont.woff2') format('woff2'),
		url('../font/kaushanscript-regular-webfont.woff') format('woff'),
		url('../font/kaushanscript-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	background: #eee;
	color: #696969;
	font-family: sans-serif;
	font-size: 14px;
}

a {
	color: #65b9bd;
	text-decoration: underline;
}

.success {
	color: green;
}

.error {
	color: red; 
}

/****** CONTENT ******/
#container {
	position: relative;
	margin: auto;
	width: 900px;
}

.coreContent {
	position: relative;
	padding-top: 50px;
	bottom: 10px;
}

/****** HEADER ******/
header {
	z-index: 100;
	left: 0;
	right: 0;
	padding: 10px;
	line-height: 70px;
	height: 70px;
	color: #696969;
}

header a {
	color: inherit;
	text-decoration: none;
}

h1 {
	position: relative;
	float: left;
	margin: 0;
	margin-left: 16px;
	font-family: 'kaushan_scriptregular';
	font-size: 56px;
	color: #696969;
	text-shadow: 2px 1px 0 #fff;
}

h2{
	color: #5F9AB5
}

#logoTitleColor {
	color: #65B9BD;
	-webkit-transition: margin-left ease .8s;
}

#logoTitleColor:hover {
	margin-left: 20px;
	-webkit-transition: margin-left ease .8s;
}

.buttonMenu {
	font-weight: bold;
	float: left;
	padding: 0 25px;
}

#menu {
	float: right;
}

#menu ul {
	padding: 0;
	margin: 0;
}

.tabLink {
	display: inline-block;
	width: 100px;
	text-align: center;
	font-size: 17px;
	border-left: 1px dashed #C0C0C0;
}

.tabLink:first-child {
	border-left: none;
}

.tabLink a {
	color: #636363;
	transition: color linear .5s;
}

.tabLink a:hover {
	color: #65B9BD;
	transition: color linear .2s;
}

/* LEFT PANEL */
#leftPanel {
	position: relative;
	float: left;
	width: 630px;
	padding: 20px;
	border: solid 1px #CDCDCD;
	background-color: #fff;
}

.messageHome {
	text-align: justify;
    text-justify: inter-word;
}

img {
	float: right;
	max-width: 300px;
	width: 100%;
	height: auto;
	margin-left: 10px;
}

.formField {
	margin-bottom: 10px;
}

label {
	display: block;
	float: left;
	margin-top: 5px;
	width: 120px;
	height-line: 30px;
}
input {
    height: 30px;
}

select {
	margin-top: 5px;
}

.button	{
	margin-top: 10px;
}


#registrForm,
#LeisureForm,
#createLeisrForm,
#cnctForm,
#rateForm {
    margin: 20px 50px 0px 50px;
    width: auto;
}

.formInput {
	display: block;
	margin-top: 5px;
    padding: 2px;
    width: 200px;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.registrButton {
	float: right;
}

#addLeisurButton {
	float: right;
	padding: 5px;
}

#cnctForm a {
	line-height: 30px;
}

textarea {
	height: 100px;
}

#leisrList {
	margin-top : 25px;
	border: 1px solid #ccc;
}

#leisrList:last-child {
	border-bottom: none;
}

.leisrInsert {
	padding: 15px 15px 10px 15px;
	height: auto;
    border-bottom: 1px solid #999;
    background-color: #eee;
}

.leisrPhoto {
	position: relative;
	float: left;
    height: 80px;
    width:  80px;
    background-color: #bcbcbc;
    border-radius: 5px;
}

.leisrDescription {
    position: relative;
    left: 10px; 
}

.leisrOtherInfo {
	margin-top: 0px;
	clear: both;
}

.leisrDescription .leisrOtherInfo {
	font: status-bar;
}

.leisrTitle {
	font: inherit !important;
    font-size: 25px !important;
    text-transform : uppercase;
    margin-right: 100px;
    display: block;
}

.leisrRating {
    float: right;
    right: 10px;
    color: #000;
    top: 0px;
    padding: 20px 10px 20px 10px;
    background-color: #bcbcbc;
    border-radius: 5px;
}

.leisrValueRating {
    font-weight: bold;
    font-size: 20px;
    color: #4eab4e;
}

.contactContent {
	text-align: center;
	margin: auto;
}

.contact {
	position: relative;
	display: inline-block;
	width: 230px;
	padding: 0;
	border: 1px solid #ccc;
	margin: auto;
	margin-top: 20px;
}

.contact p {
	padding: 0px 10px 0px 10px;
}

.contactTitle {
	background-color: #696969;
	color: #eee;
	padding: 0; margin: 0;
	width: 99%;
	line-height: 30px;
	padding-left: 1%;
}

.messageRestriction {
	text-align: center;
}

/* RIGHT PANEL */
#cnctLink {
	position: relative;
	display: block;
	float: right;
	top: -2px;
	left: 6px;
	width: 20px;
}

#cnctLink img {
	width: 100%;
	-webkit-transition: transform linear 1s;
}

#cnctLink img:hover {
	-webkit-transition: transform linear 1s;
	-webkit-transform: rotate(360deg);
}

#rightPanel {
	position: relative;
	float: right;
	width: 220px;
}

.columnBox {
	margin-bottom: 10px;
	border: 1px solid #CDCDCD;
	background-color: #fff;
}

.titleBox {
	padding: 10px;
	margin: -1px;
	background-color: #5F9AB5;
	border: 1px solid #006D9F;
	color: #fff;
}

.info {
	margin-left: 10px;
}

#bestRating ul {
	margin: 0;
	padding: 0;
}

.listBestRating {
	padding: 5px;
	display: block;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #ddd;
}

.listBestRating:last-child {
	border-bottom: none;
}

/* FOOTER */
footer {
	position: relative;
	display: block;
	clear: both;
	text-align: center;
}

/* MEDIA QUERY */

@media only screen and (min-width: 700px) and (max-width: 950px) {
	#container {
		position: relative;
		width: 100%;
	}
	
	#leftPanel {
		position: absolute;
		width: auto;
		right: 230px;
		left: 5px;
	}
	
	#rightPanel {
		right: 5px;
	}
	
	footer {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	#container, .splitter {
		height: 100%;
	}
	#container {
		overflow-x: hidden;
		position: relative;
		margin: auto;
		width: 100%;
	}
	.splitter {
		transition-duration: 0.5s;
		transform: translateX(0px);
	}
	.coreContent {
		position: absolute;
		top: 100px;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 0 1% 1% 1%;
		-webkit-overflow-scrolling: touch;
	}
	
	header {
		position: static;
	}
	
	footer {
		display: none;
	}
	
	h1 {
		margin-left: 40px;
	}
	
	.buttonMenu {
		position: absolute;
		display: block;
		float: left;
		width: 50px;
		height: 50px;
		cursor: pointer;
		padding: 0;
	}
	
	.buttonMenu:after {
		content: '';
		position: absolute;
		display: block;
		width: 20;
		height: 0;
		top: 20px;
		left: 10px;
		box-shadow: 0 10px 0 1px #63696D, 0 20px 0 1px #63696D, 0 30px 0 1px
			#63696D;
	}
	#menu {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		background-color: #5F9AB5;
		width: 200px;
		transform: translateX(-200px);
	}
	
	.tabLink {
		display: block;
		width: 200px;
		height: 50px;
		padding: auto;
		text-align: center;
		line-height: 50px;
		border-bottom: 1px solid #7CB6D1;
		color: #fff;
	}
	
	.tabLink a:hover {
		background-color: #65B9BD;
		color: #fff;
	}
	
	.tabLink a {
		display: block;
		width: 200px;
		height: 50px;
		color: #fff;	
	}
	
	.with--sidebar .splitter {
		transform: translateX(200px);
	}
	.with--sidebar .site-cache {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
		overflow: hidden;
	}
	
	
	#leftPanel { 
		position: relative;
		top: 10px;
		padding-left: 5%;
		padding-right: 5%; 
		margin: auto;
		width: 90%;
	}
	
	#rightPanel {
		position: relative;
		width: 98%;
		text-align: center;
		margin: auto;

	}
	
	.columnBox{
		display: inline-block;
		vertical-align: top;
		width: 49%;
		min-height: 220px;
		text-align: left;
		
	}
}

@media only screen and (max-width: 535px) {
	.columnBox {
		width: 100%;
	}
	
	#registrForm,
	#LeisureForm,
	#createLeisrForm,
	#cnctForm,
	#rateForm {
	    margin: auto;
	    margin-top: 20px;
	    width: 200px;
	}

}

@media only screen and (max-width: 400px) {

	.leisrDescription {
		clear: both;
	}
	
	.leisrTitle {
		margin-right: 0;
	}
	
	.leisrDescription {
		top: 20px;
	}

}
	