@font-face {
	font-family: 'kaushan_scriptregular';
	src: url('font/kaushanscript-regular-webfont.eot');
	src: url('font/kaushanscript-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('font/kaushanscript-regular-webfont.woff2') format('woff2'),
		url('font/kaushanscript-regular-webfont.woff') format('woff'),
		url('font/kaushanscript-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('font/OpenSans-Semibold.ttf');
	font-weight: 600;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	color: #696969;
	font-family: sans-serif;
	font-size: 14px;
}

#body-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url('../img/bg_lavalloisir_03.png');
	opacity: 0.25;
}

a {
	text-decoration: none;
}

.success {
	color: green;
}

.error {
	color: red; 
}

/****** CONTENT ******/
#container {
	position: relative;
	margin: auto;
	width: 900px;
}

.coreContent {
	position: relative;
	padding-top: 50px;
	bottom: 10px;
}

/****** HEADER ******/
header {
	z-index: 100;
	left: 0;
	right: 0;
	padding: 10px;
	line-height: 70px;
	height: 70px;
	color: #696969;
}

header a {
	color: inherit;
	text-decoration: none;
}

h1 {
	position: relative;
	float: left;
	margin: 0;
	margin-left: 16px;
	font-family: 'kaushan_scriptregular';
	font-size: 56px;
	color: #696969;
	text-shadow: 2px 1px 0 #fff;
}

h2{
	color: #5F9AB5
}

#logoTitleColor {
	color: #65B9BD;
	-webkit-transition: margin-left ease .8s;
}

#logoTitleColor:hover {
	margin-left: 20px;
	-webkit-transition: margin-left ease .8s;
}

.buttonMenu {
	font-weight: bold;
	float: left;
	padding: 0 25px;
}

nav {
	float: right;
	text-align: center;
}

nav a {
	display: inline-block;
	padding: 0 20px;
	line-height: 70px;
	font-family: 'Open Sans';
	font-size: 16px;
	color: #636363;
	transition: text-shadow .6s, color .3s;
}

nav a:hover {
	color: white;
	text-shadow: 0 0 15px white,
		0 0 20px white,
		0 0 40px #65B9BD,
		0 0 50px #65B9BD,
		0 0 60px #65B9BD;
	transition: all .3s;
}

nav a.clicked {
	font-size: 20px;
	vertical-align: bottom;
}

/* LEFT PANEL */
#leftPanel {
	position: relative;
	float: left;
	width: 630px;
	padding: 20px;
	border: solid 1px #CDCDCD;
	background-color: #fff;
}

.messageHome {
	text-align: justify;
    text-justify: inter-word;
}

img {
	float: right;
	max-width: 300px;
	width: 100%;
	height: auto;
	margin-left: 10px;
}

.formField {
	margin-top: 10px;
}

label {
	display: block;
	float: left;
	margin-top: 5px;
	width: 120px;
	height-line: 30px;
}
input {
    height: 30px;
}

select {
	margin-top: 5px;
}

.button	{
	margin-top: 10px;
}

#registrForm,
#LeisureForm,
#createLeisrForm,
#cnctForm,
#rateForm,
#myAccountForm {
    margin: 20px 50px 0px 50px;
    width: auto;
}

#updateAccountForm > img {
	width: 180px;
	height: 180px;
	border: 4px solid #65B9BD;
}

.formInput {
	display: block;
	margin-top: 5px;
    padding: 2px;
    width: 200px;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.registrButton {
	float: right;
}

#addLeisurButton {
	float: right;
	padding: 5px;
}

#cnctForm a {
	line-height: 30px;
}

textarea {
	height: 100px;
}

.list-leisures {
	margin-top: 10px;
}

.list-leisures a.content-leisure {
	float: left;
	width: 49%;
	height: 180px;
	margin-bottom: 10px;
	padding: 10px;
	border-top: 6px solid #5F9AB5;
	border-bottom: 6px solid #5F9AB5;
	box-sizing: border-box;
	border-radius: 16px;
	background: radial-gradient(#73E0E5, #65B9BD 75%);
	color: #696969;
	overflow: hidden;
	cursor: pointer;
	transition: .15s;
}

.list-leisures a.content-leisure:nth-of-type(even) {
	float: right;
}

.list-leisures a.content-leisure h3 {
	margin-top: 0;
	color: #eee;
	font-size: large;
	font-variant: small-caps;
	transition: .15s;
}

.list-leisures a.content-leisure span.label {
	display: inline-block;
	font-weight: bold;
}

.list-leisures a.content-leisure span.category {
	font-weight: bold;
	color: #5F9AB5;
}

.list-leisures a.content-leisure p {
	font-size: small;
	line-height: 16px;
	transition: .15s;
}

.list-leisures a.content-leisure:hover {
	border-bottom: 10px solid #5F9AB5;
	transition: .3s;
}

.list-leisures a.content-leisure:hover h3 {
	color: white;
	margin-left: 32px;
	transition: .3s;
}

.list-leisures a.content-leisure:hover span.category {
	color: #006D9F;
	transition: .3s;
}

.list-leisures a.content-leisure:hover p {
	color: #363636;
	transition: .3s;
}

.show-leisure {
	position: relative;
}

.show-leisure .picture {
	position: absolute;
	right: 0;
	width: 400px;
	height: 264px;
	background-color: #222;
}

.show-leisure div.field {
	line-height: 22px;
	background-color: #EEE;
}

.show-leisure div.field:nth-of-type(even) {
	background-color: #DDD;
}

.show-leisure div.field span.label {
	display: block;
	padding: 5px 10px;
	line-height: 2em;
	font-variant: small-caps;
	font-size: large;
	letter-spacing: 1px;
	font-weight: bold;
	background-color: #65B9BD;
  	border-left: 6px solid #006D9F;
  	color: white;
}

.show-leisure div.field .value {
	  display: inline-block;
	  padding: 10px;
	  margin-left: 20px;
}

.show-leisure div.field a.value {
	  color: #65B9BD;
}

.show-leisure div.field span.value.category {
	font-weight: bold;
	color: #006D9F;
}

.show-leisure div.field span.value.description {
	text-align: justify;
}

.contactContent {
	text-align: center;
	margin: auto;
}

.contact {
	position: relative;
	display: inline-block;
	width: 230px;
	padding: 0;
	border: 1px solid #ccc;
	margin: auto;
	margin-top: 20px;
}

.contact p {
	padding: 0px 10px 0px 10px;
}

.contactTitle {
	background-color: #696969;
	color: #eee;
	padding: 0; margin: 0;
	width: 99%;
	line-height: 30px;
	padding-left: 1%;
}

.messageRestriction {
	text-align: center;
}

.messageRestriction a {
	color: #65B9BD;
	text-decoration: underline;
}

/* RIGHT PANEL */
#cnctLink {
	position: relative;
	display: block;
	float: right;
	top: -2px;
	left: 6px;
	width: 20px;
}

#cnctLink img {
	width: 100%;
	transition: transform linear .6s;
}

#cnctLink img:hover {
	transform: rotate(360deg);
}

#rightPanel {
	position: relative;
	float: right;
	width: 220px;
}

.columnBox {
	margin-bottom: 10px;
	border: 1px solid #CDCDCD;
	background-color: #fff;
}

.titleBox {
	padding: 10px;
	margin: -1px;
	background-color: #5F9AB5;
	border: 1px solid #006D9F;
	color: #fff;
}

.titleBox a {
	color: #fff;
	text-decoration: underline;
}

.titleBox a:hover {
	text-decoration: none;
}

.info {
	margin-left: 10px;
}

#bestRating ul {
	margin: 0;
	padding: 0;
}

.listBestRating {
	padding: 5px;
	display: block;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #ddd;
}

.listBestRating:last-child {
	border-bottom: none;
}

/* FOOTER */
footer {
	position: relative;
	display: block;
	padding-top: 20px;
	clear: both;
	text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 700px) and (max-width: 950px) {
	#container {
		position: relative;
		width: 100%;
	}
	
	#leftPanel {
		position: absolute;
		width: auto;
		right: 230px;
		left: 5px;
	}
	
	#rightPanel {
		right: 5px;
	}
	
	footer {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	#container, .splitter {
		height: 100%;
	}
	#container {
		overflow-x: hidden;
		position: relative;
		margin: auto;
		width: 100%;
	}
	.splitter {
		transition-duration: fs;
		transform: translateX(0px);
	}
	.coreContent {
		position: absolute;
		top: 100px;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 0 1% 1% 1%;
		-webkit-overflow-scrolling: touch;
	}
	
	header {
		position: static;
	}
	
	footer {
		display: none;
	}
	
	h1 {
		margin-left: 40px;
	}
	
	.buttonMenu {
		position: absolute;
		display: block;
		float: left;
		width: 50px;
		height: 50px;
		cursor: pointer;
		padding: 0;
	}
	
	.buttonMenu:after {
		content: '';
		position: absolute;
		display: block;
		width: 20;
		height: 0;
		top: 20px;
		left: 10px;
		box-shadow: 0 10px 0 1px #63696D, 0 20px 0 1px #63696D, 0 30px 0 1px
			#63696D;
	}
	
	#menu {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		background-color: #5F9AB5;
		width: 200px;
		transform: translateX(-200px);
	}
	
	.tabLink {
		display: block;
		width: 200px;
		height: 50px;
		padding: auto;
		text-align: center;
		line-height: 50px;
		border-bottom: 1px solid #7CB6D1;
		color: #fff;
	}
	
	.tabLink a {
		display: block;
		width: 200px;
		height: 50px;
		color: #fff;	
	}
	
	.tabLink a:hover {
		background-color: #eee;
	}
	
	.with--sidebar .splitter {
		transform: translateX(200px);
	}
	.with--sidebar .site-cache {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
		overflow: hidden;
	}	
	
	#leftPanel { 
		position: relative;
		top: 10px;
		padding-left: 5%;
		padding-right: 5%; 
		margin: auto;
		width: 90%;
	}
	
	#rightPanel {
		position: relative;
		width: 98%;
		text-align: center;
		margin: auto;

	}
	
	.columnBox{
		display: inline-block;
		vertical-align: top;
		width: 49%;
		min-height: 220px;
		text-align: left;
		
	}
}

@media only screen and (max-width: 535px) {
	.columnBox {
		width: 100%;
	}
	
	#registrForm,
	#LeisureForm,
	#createLeisrForm,
	#cnctForm,
	#rateForm {
	    margin: auto;
	    margin-top: 20px;
	    width: 200px;
	}

}

@media only screen and (max-width: 400px) {

	.leisrDescription {
		clear: both;
	}
	
	.leisrTitle {
		margin-right: 0;
	}
	
	.leisrDescription {
		top: 20px;
	}

}
	
