<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <listener>
    <listener-class>com.lavalloisir.config.InitDAOFactory</listener-class>
  </listener>
  
  <filter>
    <filter-name>Restriction</filter-name>
    <filter-class>com.lavalloisir.filters.Restriction</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Restriction</filter-name>
    <url-pattern>/restrained/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.lavalloisir.servlets.Home</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.lavalloisir.servlets.Registration</servlet-class>
    <init-param>
      <param-name>path</param-name>
      <param-value>C:\Users\Juliien\Documents\Lavalloisir\WebContent\img\user</param-value>
    </init-param>
    <multipart-config>
      <location>C:\Users\Juliien\Documents\Lavalloisir\WebContent\img\temp</location>
      <max-file-size>327680</max-file-size>
      <max-request-size>327680</max-request-size>
      <file-size-threshold>327680</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>Connection</servlet-name>
    <servlet-class>com.lavalloisir.servlets.Connection</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnection</servlet-name>
    <servlet-class>com.lavalloisir.servlets.Deconnection</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.lavalloisir.servlets.Contact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReservedAccess</servlet-name>
    <servlet-class>com.lavalloisir.servlets.ReservedAccess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAccount</servlet-name>
    <servlet-class>com.lavalloisir.servlets.UpdateAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexLeisures</servlet-name>
    <servlet-class>com.lavalloisir.servlets.IndexLeisures</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowLeisure</servlet-name>
    <servlet-class>com.lavalloisir.servlets.ShowLeisure</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListMember</servlet-name>
    <servlet-class>com.lavalloisir.servlets.ListMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnection</servlet-name>
    <url-pattern>/Deconnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReservedAccess</servlet-name>
    <url-pattern>/ReservedAccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAccount</servlet-name>
    <url-pattern>/restrained/UpdateAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexLeisures</servlet-name>
    <url-pattern>/restrained/IndexLeisures</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowLeisure</servlet-name>
    <url-pattern>/restrained/ShowLeisure</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListMember</servlet-name>
    <url-pattern>/restrained/ListMember</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/JSP/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>